/* General */

body {
  color: #312F30;
  font-family: 'lato', sans-serif;
  font-weight: 300;
}

hr {
  margin: 5px 0 5px 0;
  border-top: 3px solid #ddd;
}

/* Header */

.title-logo {
  margin-top: 20px;
}

.title-super {
  font-size: 50px;
}

/* Featured projects */

.text-muted {
  color: #7e7a7b;
}

.project {
  display: inline-block;
  float: none;
  margin-right: -4px;
  padding-bottom: 10px;
}

.project-img {
  margin: 0 auto;
  max-height: 200px;
  opacity: 0.7;
  /*  Required for IE6-8 but fails validation test.
  filter: alpha(opacity=70);*/
}

.project-img:hover {
  opacity: 1.0;
  /*  Required for IE6-8 but fails validation test.
  filter: alpha(opacity=100);*/
}

h3 {
  margin: 10px 0 5px 0;
}