/* General */
body {
  color: #312F30;
  font-family: 'lato', sans-serif;
  font-weight: 300;
}

hr {
  border-top: 3px solid #ddd;
  margin: 5px 0 5px 0;
}

/* Header */
.title-logo {
  margin-top: 20px;
}

.title-super {
  font-size: 50px;
}

/* Featured projects */
h3 {
  margin: 10px 0 5px 0;
}

.project {
  display: inline-block;
  float: none;
  margin-right: -4px;
  padding-bottom: 10px;
}

.project-img {
  margin: 0 auto;
  max-height: 200px;
  opacity: 0.7;
}

.project-img:hover {
  opacity: 1.0;
}

.text-muted {
  color: #7e7a7b;
}